.carrentalfleet {
    &__left {
        &Box {
            &-bottom {
                .CapacityBox {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 1rem;
                    li {
                        position: relative;
                        label {
                            cursor: pointer;
                        }
                        input {
                            position: absolute;
                            inset: 0;
                            appearance: none;

                            &:checked + span {
                                border-color: $secondary-color;
                            }
                        }
                        span {
                            position: relative;
                            width: 3.7rem;
                            height: 3.7rem;
                            border-radius: 50%;
                            border: 2px solid #92AACB;
                            display: grid;
                            place-items: center;
                            line-height: 1;
                        }
                    }
                }
                .BedroomsBox {
                    select {
                        border-radius: 3rem;
                        padding: 1.3rem 2rem;
                        border: 1px solid #92aacb;
                        width: 100%;
                    }
                }
            }
        }
    }
}